@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --color-primary:#4992F2;
    --color-primary-light:#05F2F2;
    --color-secundary:#6567D6;
    --color-secundary-dark:#662F97;
    --color-contrast:#F28322;
    --font-primary:'Roboto', sans-serif;
    font: 1em var(--font-primary);
}

#container{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 15vh 80vh 5vh;;
	grid-template-areas: "header header"
						"main picture"
						"footer picture";
}

#header{
	grid-area: header;
	display: flex;
}

#navigation{
    display: flex;
}

#navigation li{
    display: inline-block;
}

#navigation > section{
    display: flex;
}

#container-button{
    display: flex;
}

.button{
	display: flex;
}

#main{
	grid-area: main;
	display: flex;
}

#content{
	display: flex;
}

#picture img{
	grid-area: picture;	
	display: flex;
}

#footer{
	grid-area: footer;
	display: flex;
}

.button{
	cursor: pointer;
}

#input-text{
	font:400 1em var(--font-primary);
	padding: 2%;
    outline: none!important;
    border: none;
}
#modal{
	width: max(40vw, 400px);
	height: 50vh;
	padding: 0;
}

dialog::backdrop{
	background-color: rgba(0, 0, 0, .5);
}

#modal-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50vh;
	grid-template-areas: "container mensagem";
}

#modal-container img{
	grid-area: container;
	display: flex;
}

#modal-container-left{
	grid-area: container;
	display: flex;
}

#modal-right{
	grid-area: mensagem;
	display: flex;
	font-weight: 700;
}
