body{
    background-image: url(../../img/shape1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

#header{
    align-items: center;
    justify-content: space-around;
}

#brand{
    margin-right: 20px;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.205))
}

#navigation{
    display: flex;
}

#navigation li{
    display: inline-block;
}

#navigation li > a{
    text-decoration: none;
    color: var(--color-secundary);
    line-height: 40px;
    font-weight: 700;
    margin: 0px 10px 0px 10px;
}

#navigation >ul > li > a:hover{
    color: var(--color-secundary-dark);
    font-size: 1.2em;
    transition-duration: 0.2s;
}

#navigation > section{
    display: flex;
    
}

#container-button{
    display: flex;
}

.button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0px 5% 0px 5%;
    height: 5vh;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    margin: 0px 15px 0px 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4))
}

button > img{
    margin-left: 10px;
    height: 2.5vh;
}

#button-bag{
    background-color: var(--color-primary);
    padding: 0px 15% 0px 15%;
}

#button-bag:hover{
    color: var(--color-primary);
    transform: scale(1.05);
    background-color: white;
    transition-duration: 0.2s;
}

#button-bag:hover > img{
    filter: drop-shadow(0px 0px 2px var(--color-primary))
}

#button-login{
    background-color: var(--color-contrast);
    padding: 0px 15% 0px 15%;
}

#button-login:hover{
    color: var(--color-contrast);
    transform: scale(1.05);
    background-color: white;
    transition-duration: 0.2s;
}

#button-login:hover > img{
    filter: drop-shadow(0px 0px 2px var(--color-contrast))
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content h1{
    color: var(--color-primary);
    text-align: center;
    font:700 4em var(--font-padrao);
}

#content h2{
    color: gray;
    text-align: justify;
    width: 50%;
    text-align: center;
    padding: 3%;  
}

#message{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 350px;
    height: 30px;
    border-radius: 30px;
    padding: 13px 10px;
}

#message img{
    max-height: 60%;
    padding: 3%;
}

#button-send{
    color: white;
    background-color: var(--color-primary);
}

#button-send:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.modal{
    border: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

#picture img{
    display: flex;
    align-items: flex-end;
}

